{% for type in ['success', 'danger', 'info', 'warning'] %}
    {% for flashMessage in app.session.flashbag.get(type) %}
        <div class="alert alert-{{ type }}">
            <button type="button" data-dismiss="alert" class="close" aria-hidden="true">&times;</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endfor %}
