<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ block('title') }}</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="32x32">
    <meta name="description" content="Opis..."/>
    <meta name="keywords" content="framework, nemethe, słowa, kluczowe"/>
    <meta name="viewport" id="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="theme-color" content="#fa364e">
    <link rel="icon" sizes="192x192" href="/192logo.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{ '/assets/styles/all.css' }}">
</head>
<body>
{% block body %}
    <script type="text/javascript">
        (function (a) {
            var w = document.body.offsetWidth, s = '', b = 0;
            for (var i = 0; i < a.length; i++) {
                if (a[i] < w) {
                    s += ' more' + a[i];
                    b = i
                } else {
                    s += ' less' + a[i]
                }
            }
            s += ' breakpoint' + a[b];
            document.body.className = s
        })
        ([320, 480, 580, 760, 960, 1024, 1210]);
    </script>
    {% block content %}
    {% endblock %}
{% endblock %}
<script type="text/javascript" src="{{ asset('/assets/scripts/jquery.micro.js') }}"></script>
<script type="text/javascript" src="{{ asset('/assets/scripts/history.micro.js') }}"></script>
<script type="text/javascript" src="{{ asset('/assets/scripts/functions.js') }}"></script>
<script type="text/javascript" src="{{ asset('/assets/scripts/include.js') }}"></script>
<script type="text/javascript" src="{{ asset('/assets/scripts/modules/rwd.js') }}"></script>
<script type="text/javascript" src="{{ asset('/assets/scripts/modules/device.js') }}"></script>
<script type="text/javascript" src="{{ asset('/assets/scripts/modules/cards-switcher.js') }}"></script>
<script type="text/javascript" src="{{ asset('/assets/scripts/modules/forms.js') }}"></script>
<script type="text/javascript" src="{{ asset('/assets/scripts/modules/scroll.js') }}"></script>
<script type="text/javascript" src="{{ asset('/assets/scripts/modules/oneposition.js') }}"></script>
<script type="text/javascript" src="{{ asset('/assets/scripts/onready.js') }}"></script>
</body>
</html>
