{% extends 'layout.html.twig' %}

{% block title %}Token{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{{ url }}">Call API</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <pre>
                {{ dump(url) }}
            </pre>
            <pre>
                {{ dump(hmacRequest) }}
            </pre>
        </div>
    </div>
{% endblock %}
