*, *:before, *:after {box-sizing:  border-box !important;}
* {padding: 0; margin: 0;}

body {font: 'FranklinGothic Book' 13px; color: #000; background: #fff; overflow-x: hidden}
body * {position: relative; box-sizing: border-box}

* {
    box-sizing:  border-box !important;
}

.clip {
    max-width: 1210px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    padding-right: 5px;
    padding-left: 5px;
}

.ovhidden {
    overflow-x: hidden;
}

input, textarea, select {min-height: 46px; padding-left: 10px; border: 1px solid #a4a4a4; background: #fff; outline: none}
input, select {height: 46px}
textarea {padding-top: 10px}
input.error,
textarea.error {background: #ffd7d7; border-color: #ff8b8b}

.grid {font-family: 'nosings'; font-size: 0px; letter-spacing: normal}
.grid >* {display: inline-block; font-family: 'FranklinGothic Book'; font-size: 14px; vertical-align: top}

.grid-padding {
    margin: -10px;
}

.grid-padding >* {
    padding: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:focus {
    outline-width: 0;
}

.aling-right {
    text-align: right;
}

.aling-left {
    text-align: left;
}

.aling-center {
    text-align: center;
}

.block {
    display: block;
}

.v-1-2 {
    width: 50% !important;
}

.v-1-3 {
    width: 33.33% !important;
}

.v-2-3 {
    width: 66.66% !important;
}

.v-1-4 {
    width: 25% !important;
}

.all-inline * {
    display: inline;
}