html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

@font-face {
    font-family: 'FranklinGothic Book';
    font-style: normal;
    src: url('../fonts/franklin_gothic_book.eot');
    src:
        url('../fonts/franklin_gothic_book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/franklin_gothic_book.ttf') format('truetype'),
        url('../fonts/franklin_gothic_book.woff') format('woff');
}

@font-face {
    font-family: 'FranklinGothic Demi';
    font-style: normal;
    src: url('../fonts/franklin_gothic_demi.eot');
    src:
        url('../fonts/franklin_gothic_demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/franklin_gothic_demi.ttf') format('truetype'),
        url('../fonts/franklin_gothic_demi.woff') format('woff');
}

@font-face {
font-family: 'nosings';
src: url('../fonts/nosings.eot'); 
src: url('../fonts/nosings.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nosings.woff') format('woff'),
    url('../fonts/nosings.ttf')  format('truetype');
}

