header {
    margin-top: 50px;
}

main {
    width: 100%;
}

h1 {
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

.in-app-table-grid,
.table-grid {
    display: table;
}

.less760 .in-app-table-grid {
    display: block;
}

.less760 .in-app-table-grid >* {
    display: block;
}

.in-app-table-grid >*,
.table-grid >* {
    display: table-cell;
    vertical-align: top;
}

.less960 .table-grid {
    display: inline-block;
}

.less960 .table-grid >* {
    display: inline-block;
}

.logo {
    display: inline-block;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.less960 .logo {
    margin-right: 50px;
    margin-bottom: 50px;
}

.less580 .logo {
    margin-right: 25px;
    margin-bottom: 25px;
    width: 150px !important;
    height: 180px;
}

.less960 .in-app-table-grid .logo {
    margin: 0 !important;
}

.less960 .in-app-table-grid .logo {
    height: auto !important;
    padding-bottom: 15px;
}

.less960.more580 .in-app-table-grid .logo {
    width: 197px !important;
}

.less760 .in-app-table-grid .logo {
    width: 50px;
}

.less760 .in-app-table-grid .logo img {
    width: 60px;
    height: 72px;
}

.less480 .logo {
    margin-right: 5px;
    margin-bottom: 12px;
    width: 130px;
    height: 156px;
}

.main-menu ul {
    display: table;
    width: 100%;
    height: 47px;
    border-radius: 4px;
    overflow: hidden;
    background: #9c9b9b;
}

.main-menu >* {
    position: relative !important;
}

.main-menu ul li {
    display: table-cell;
    width: 1%;
    text-align: center;
    line-height: 46px;
    font-size: 30px;
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
    white-space: nowrap;
}

.less960 .main-menu ul li {
    white-space: normal;
}

.less760 .main-menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 101;
}

.less760 .main-menu.active {
    display: block;
}

.less760 .main-menu ul {
    display: block;
    height: auto;
}

.less760 .main-menu ul li {
    display: block;
    width: auto;
}

.main-menu ul li:hover,
.main-menu ul li.active {
    background: #e10d15;
}

.main-menu ul li a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}

.left-header {
    position: static;
    display: inline-block;
    width: 197px;
    padding-bottom: 210px;
    margin-right: 33px;
}

.in-app-table-grid .left-header {
    padding-bottom: 0;
}

.in-app-table-grid {
    margin-bottom: 27px;
}

.less960 .left-header {
    width: auto;
    padding-bottom: 0;
}

.less960 .left-header >* {
    vertical-align: top;
    display: inline-block;
}

.left-header strong {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 197px;
    height: 197px;
    background: #e10d15;
    color: #fff;
    padding: 17px;
    display: inline-block;
    font-size: 23px;
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

.less960 .left-header strong {
    position: relative;
    margin-bottom: 50px;
}

.less580 .left-header strong {
    width: 150px;
    height: 150px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 20px;
}

.less480 .left-header strong {
    width: 130px;
    height: 130px;
    margin-bottom: 12px;
    padding: 7px;
    font-size: 17px;
}

.welcome-banner img {
    max-width: 970px;
    width: 100%;
}

.welcome-banner figcaption {
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px 37px;
    width: 470px;
    font-size: 70px;
    color: #fff;
    text-shadow: 3px 6px 7px rgba(0, 0, 0, 0.39);
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

.in-app-table-grid .welcome-banner figcaption {
    font-size: 50px;
    line-height: 42px;
    left: 10%;
    right: 0;
    margin: auto;
    bottom: 0;
    top: auto;
}

.less1210 .welcome-banner figcaption {
    font-size: 60px;
}

.less1210 .in-app-table-grid .welcome-banner figcaption {
    font-size: 40px;
    width: 400px;
}

.less960 .in-app-table-grid .welcome-banner figcaption {
    font-size: 30px;
    width: 350px;
}

.less960 .in-app-table-grid .welcome-banner figcaption {
    font-size: 25px;
    line-height: 26px;
    width: 300px;
}

.hide-menu {
    display: none;
    font-size: 0;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    background: url('../images/menu.png') no-repeat center;
    cursor: pointer;
    margin: 5px;
    float: right;
}

.less760 .hide-menu {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}

.less960 .welcome-banner figcaption {
    font-size: 50px;
    width: 300px;
}

.less720 .welcome-banner figcaption {
    font-size: 40px;
    width: 250px;
}

.less580 .welcome-banner figcaption {
    font-size: 30px;
    width: 200px;
}

.less480 .welcome-banner figcaption {
    font-size: 20px;
}

.start-page {
    padding-left: 230px;
}

.less960 .start-page {
    padding-left: 0;
}

.start-page h1 {
    font-size: 33px;
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

h1 span {
    color: #e10d15;
}

.start-page > p {
    font-size: 20px;
    margin-bottom: 45px;
}

.described-button {
    font-size: 24px;
    text-align: center !important;
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

.described-button .button {
    margin-top: 15px;
}

.forms-grid {
    margin-bottom: 45px;
}

.forms-grid >* {
    text-align: center;
    vertical-align: bottom;
}

.forms-grid .v-1-3 label,
.forms-grid .v-1-3 .described-button {
    width: 100%;
}

.less760 .forms-grid .v-1-3,
.less760 .forms-grid .v-2-3 {
    width: 50% !important;
}

.less580 .forms-grid .v-1-3,
.less580 .forms-grid .v-2-3 {
    width: 100% !important;
}

.forms-grid .v-2-3 .described-button {
    width: 50%;
}

.forms-grid .v-2-3 label,
.less760 .forms-grid .v-2-3 label,
.less760 .forms-grid .v-2-3 .described-button {
    width: 100%;
}

.forms-grid >* >* {
    display: inline-block;
    text-align: left;
}

.button {
    width: 100%;
    height: 64px;
    text-align: center;
    background: #e10d15;
    line-height: 64px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    border: 0;
    border-radius: 4px;
    text-align: center !important;
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.button.small {
    height: 46px;
    line-height: 46px;
}

.button:hover {
    -webkit-transform: scale(1.02) translate3d(0px, -2px, 0px);
    -moz-transform: scale(1.02) translate3d(0px, -2px, 0px);
    -o-transform: scale(1.02) translate3d(0px, -2px, 0px);
    -ms-transform: scale(1.02) translate3d(0px, -2px, 0px);
    transform: scale(1.02) translate3d(0px, -2px, 0px);
    -moz-box-shadow: 0px 3px 3px #000000;
    -webkit-box-shadow: 0px 3px 3px #000000;
    box-shadow: 0px 3px 3px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 3, direction = 180, color = '#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 3, Direction = 180, Color = '#000000')";
}
    
label input[type=number],
label input[type=email],
label input[type=password],
label input[type=text] {
    width: 100%;
    height: 64px;
    text-align: left;
    line-height: 64px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    border: 0;
    padding-left: 20px;
    -webkit-box-shadow: 10px 10px 21px -6px rgba(0,0,0,0.13), inset 10px 10px 21px -6px rgba(0,0,0,0.13);
    -moz-box-shadow: 10px 10px 21px -6px rgba(0,0,0,0.13), inset 10px 10px 21px -6px rgba(0,0,0,0.13);
    box-shadow: 10px 10px 21px -6px rgba(0,0,0,0.13), inset 10px 10px 21px -6px rgba(0,0,0,0.13);
}


label input[type=number]::-webkit-input-placeholder,
label input[type=email]::-webkit-input-placeholder,
label input[type=password]::-webkit-input-placeholder,
label input[type=text]::-webkit-input-placeholder {
    color: #000;
}

input:focus::-webkit-input-placeholder {
    display: none !important;
    visibility: hidden !important;
}

.left-rectangles {
    width: 197px;
    text-align: center;
    font-size: 15px;
}

.left-rectangles .bottom {
    position: absolute;
    bottom: 15px;
}

.left-rectangles a {
    color: #fff;
}

.left-rectangles a:after {
    content: ' >>';
    font-weight: 700;
}

.left-rectangles ul {
    display: block;
}

.left-rectangles ul li {
    display: block;
}

.left-rectangles ul li span {
    font-weight: 700;
}

.less960 .left-rectangles {
    width: auto;
}

.left-rectangles >* {
    width: 197px;
    height: 197px;
    padding: 17px;
    margin-bottom: 21px;
    color: #fff;
    text-align: left;
}

.less960 .left-rectangles >* {
    margin-right: 21px;
}

.left-rectangles strong {
    background: #e10d15;
    font-size: 23px;
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

.left-rectangles > div {
    background: #9c9b9b;
}

.left-rectangles > nav {
    background: #7d7c7c;
}

.main {
    margin-top: 25px;
}

.right-main {
    padding-left: 37px;
    width: 100%;
}

.less960 .right-main {
    padding-left: 0;
}

.outer {
    background: #f3f3f3;
    border-radius: 5px;
    padding: 34px;
}

.outer h1,
.outer h2 {
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
    font-size: 25px;
}

.outer p {
    font-size: 22px;
    padding-right: 57px;
}

.outer p b {
    font-family: 'FranklinGothic Demi';
}

.outer p strong {
    font-family: 'FranklinGothic Demi';
    color: #e10d15;
}

.account-info {
    width: 284px;
    padding: 15px 21px;
    border-radius: 5px;
    background: #fff;
}

.less960 .account-info {
    float: right;
    margin-top: 15px;
}

.less480 .account-info {
    width: 100%;
}

.account-info h2 {
    margin-bottom: 34px;
}

.account-info ul {
    display: block;
    font-size: 22px;
    line-height: 22px;
}

.account-info ul li {
    display: block;
}

.account-info a {
    color: #000;
}

.account-info a:hover {
    text-decoration: underline;
}

.left-rectangles a:hover {
    text-decoration: underline;
}

.product-list li a:hover {
    text-decoration: underline;
}

.account-info a span {
    color: #e10d15;
    font-weight: 700;
    font-family: 'FranklinGothic Demi';
}

.account-info ul li span {
    font-weight: 700;
}

.cards {
    width: 100%;
    display: block;
    border-radius: 5px;
    padding-top: 41px;
    margin-bottom: 45px;
}

.disable-first.card-switcher >*:first-child {
    cursor: auto !important;
}

.card-switcher {
    top: 41px;
    display: block;
    line-height: 41px;
    z-index: 1;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    font-size: 15px;
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
    text-transform: uppercase;
    background: #e9e9e9;
}

.card-switcher li {
    display: inline-block;
    background: #e9e9e9;
    padding: 0 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-switcher li:after {
    content: '';
    position: absolute;
    width: 2px;
    top: 3px;
    bottom: 3px;
    left: 2px;
    background: #fff;
}

.card-switcher li.active+li:after,
.card-switcher li:first-child:after,
.card-switcher li.active:after {
    width: 0;
}

.card-switcher li.active {
    background: #cfcfcf;
    padding: 0 36px;
}

.cards >* {
    max-height: 430px;
    background: #cfcfcf;
}

.cards >* ul {
    display: block;
    line-height: 41px;
    font-size: 17px;
}

.list-partition:after {
    content: '';
    position: absolute;
    left: 137px;
    top: 10px;
    bottom: 10px;
    width: 2px;
    background: #fff;
}

.list-partition:before {
    content: '';
    position: absolute;
    left: 325px;
    top: 10px;
    bottom: 10px;
    width: 2px;
    z-index: 1;
    background: #fff;
}

.less580 .list-partition:before {
    left: 57px;
}

.cards >* ul li {
    background: #bdbdbd;
    display: block;
}

.cards >* ul li:not(:first-child):hover {
    background: #e10d15 !important;
    color: #fff;
}

.cards >* ul li:first-child p {
    display: inline-block;
    position: absolute;
    left: 137px;
    width: 190px;
    text-align: center;
}

.less580 .cards >* ul li:first-child p {
    left: 0;
}

.cards >* ul li:nth-child(even) {
    background: #cfcfcf;
}

.cards >* ul li > span:first-child {
    width: 327px;
    display: inline-block;
    text-align: center;
    padding-right: 190px;
}

.less580 .cards >* ul li > span:first-child {
    width: 192px;
    padding-right: 140px;
}

.cards >* ul li > span:last-child {
    padding-left: 73px;
}

.less580 .cards >* ul li > span:last-child {
    padding-left: 0;
}

.cards >* ul li.active {
    background: #c20e1a !important;
    color: #fff;
}

.cards >* ul li[data-change=plus] > span:first-child:after,
.cards >* ul li[data-change=minus] > span:first-child:after,
.cards >* ul li[data-change=none] > span:first-child:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 190px;
    height: 41px;
    display: inline-block;
}

.cards >* ul li[data-change=plus] > span:first-child:after,
.cards >* ul li[data-change=minus] > span:first-child:after,
.cards >* ul li[data-change=none] > span:first-child:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 190px;
    height: 41px;
    display: inline-block;
}

.cards >* ul li[data-change=plus] > span:first-child:after {
    background: url('../images/plus.png') center no-repeat;
}

.cards >* ul li[data-change=minus] > span:first-child:after {
    background: url('../images/minus.png') center no-repeat;
}

.cards >* ul li[data-change=none] > span:first-child:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 9px;
    background: #9c9b9b;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 137px;
}

.less580 .cards >* ul li[data-change=none] > span:first-child:before {
    left: 0;
}

.scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}

.scroll >* {
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mobile .scroll {
    overflow-y: auto;
}

.scroll-belt {
    position: absolute;
    left: -25px;
    top: 41px;
    height: 100%;
    width: 17px;
    background: #e9e9e9;
    position: absolute;
}

.mobile .scroll-belt {
    display: none !important;
}

.scroll-belt .hand {
    position: absolute;
    left: 0;
    top: 0;
    height: 34px;
    width: 100%;
    background: #9c9b9b;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: move;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.text {
    padding: 18px;
}

.product-list {
    display: block;
    background: #cfcfcf;
    border-radius: 5px;
    overflow: hidden;
}

.product-list li {
    display: block;
    line-height: 35px;
    padding-left: 42px;
    padding-right: 17px;
    font-size: 17px;
}

.product-list li strong {
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
    width: 250px;
    display: inline-block;
}

.product-list li:nth-child(even) {
    background: #bdbdbd;
}

.product-list li a {
    color: #000;
    float: right;
}

.product-list li a:after {
    content: ' >>';
    color: #e10d15;
    font-weight: 700;
}

.mini-menu {
    display: block;
    line-height: 40px;
    min-height: 40px;
    width: 100%;
    margin-bottom: 28px;
}

.less580 .mini-menu a {
    width: 100%;
}

.mini-menu a {
    display: inline-block;
    width: 50%;
    font-size: 21px;
    text-align: center;
    color: #fff;
    background: #9c9b9b;
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
    height: 100%;
}

.mini-menu a.active {
    background: #e10d15;
}

.points-list {
    display: block;
    font-size: 22px;
}

.points-list li {
    display: block;
    line-height: 28px;
}

.points-list li:first-child {
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 16px;
}

.points-list li span {
    color: #e10d15;
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

.points-history {
    display: block;
    width: 100%;
    height: 300px;
    background: #cfcfcf;
    border-radius: 5px;
}

.points-history h2 {
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 28px;
}

.points-history .for-table {
    overflow: hidden;
    height: 253px;
}

.points-history table {
    width: 100%;
    line-height: 36px;
    font-size: 17px;
}

.less760 .points-history table {
    font-size: 13px;
}

.points-history table tr:first-child {
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

.points-history table tr:first-child td:nth-child(2),
.points-history table tr:first-child td:nth-child(4) {
    color: #e10d15;
}

.points-history table td {
    text-align: center;
}

.points-history table tr td:nth-child(2),
.points-history table tr td:nth-child(4) {
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

.points-history table tr:nth-child(even) {
    background: #bdbdbd;
}

.rules h1,
.rules h2,
.rules h3 {
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    margin-bottom: 12px;
}

.rules .outer {
    margin-bottom: 15px;
}

.password-changer {
    line-height: 46px;
}

.secound {
    margin-top: 20px;
}

.user-data {
    font-size: 22px;
    line-height: 36px;
}

.user-data {
    display: block;
    margin-bottom: 20px;
}

.user-data li {
    display: block;
}

.user-data li span {
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

.old-password input {
    margin-bottom: 20px;
}

.top-winners {
    padding-left: 40px;
}

.less760 .top-winners {
    padding-left: 0;
}

.top-winners p {
    font-size: 24px;
}

.winners-results {
    width: 100%;
    height: 800px;
    border-radius: 5px;
    overflow: hidden;
    background: #dfdfdf;
    margin-bottom: 23px;
    max-width: 310px;
    display: inline-block;
}

.prize-results {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    background: #dfdfdf;
    margin-bottom: 23px;
    max-width: 310px;
    display: inline-block;
}

.prize-results > p:first-child,
.winners-results > p:first-child {
    font-size: 22px;
    padding: 10px;
    padding-left: 24px;
}

.prize-results > p:first-child span,
.winners-results > p:first-child span {
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

.prize-results figure,
.winners-results figure {
    width: 270px;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
}

.prize-results figure img,
.winners-results figure img {
    max-width: 100%;
    max-height: 251px;
}

.prize-results figure figcaption,
.winners-results figure figcaption {
    padding: 10px 0;
    font-size: 23px;
    white-space: nowrap;
}

.prize-results figure figcaption:after,
.winners-results figure figcaption:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    bottom: -5px;
    background: #b2b2b2;
}

.prize-results figure figcaption strong,
.winners-results figure figcaption strong {
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
    color: #e10d15;
}

.winners-slider {
    position: absolute;
    top: 363px;
    left: 0;
    right: 0;
    height: 422px;
    overflow: hidden;
    padding-left: 24px;
}

.prize-results .winners-slider {
    top: 306px;
    height: 61px;
}

.winners-slider ul {
    top: 0;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.winners-slider ul li {
    display: block;
    margin-bottom: 22px;
    font-size: 22px;
    line-height: 24px;
}

.winners-slider ul li > span,
.winners-slider ul li > strong {
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

.winners-slider ul li > strong {
    color: #e10d15;
}

.arrows-buttons {
    position: absolute;
    bottom: 10px;
    left: 24px;
}

.arrows-buttons .next {
    width: 22px;
    height: 18px;
    background: url('../images/next.png') no-repeat center;
    border: 0;
    text-indent: -9999px;
    font-size: 0;
}

.arrows-buttons .prev {
    width: 22px;
    height: 18px;
    background: url('../images/prev.png') no-repeat center;
    border: 0;
    text-indent: -9999px;
    font-size: 0;
    left: -5px;
}

.wnr-margin {
    margin-top: 24px;
    
}

.wnr-margin .v-1-3 {
    text-align: center;
}

.wnr-margin .v-1-3 >* {
    text-align: left;
}

.prize-results.empty {
    background: #dfdfdf url('../images/mark.png') center no-repeat;
}

.less1210 .wnr-margin .v-1-3 {
    width: 50% !important;
}

.less760 .wnr-margin .v-1-3 {
    width: 100% !important;
}

.belt-bot {
    position: absolute;
    left: -3px;
    bottom: -24px;
    width: 24px;
    height: 25px;
    background: url('../images/bottom.png') center no-repeat;
    border: 0;
    text-indent: -9999px;
    font-size: 0;
}

.belt-up {
    position: absolute;
    left: -3px;
    top: -25px;
    content: '';
    width: 24px;
    height: 25px;
    background: url('../images/top.png') center no-repeat;
    border: 0;
    text-indent: -9999px;
    font-size: 0;
}

.promotion > div {
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 664px;
    margin-bottom: 20px;
}

.promotion h1,
.promotion h2 {
    font-size: 33px;
}

.promotion p {
    font-size: 28px;
    padding-right: 0;
    margin-bottom: 40px;
}

.promotion a {
    font-size: 24px;
    color: #000;
}

.promotion a:hover {
    text-decoration: underline;
}

.promotion a:after {
    content: ' >>';
    color: #c2131f;
    font-family: 'FranklinGothic Demi';
    font-weight: 400;
}

.promotion a:last-child {
    float: right;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    max-height: 240px;
    max-width: 969px;
    min-height: 100px;
    background: #e9e9e9;
    border-radius: 6px;
}

.popup .promotion > div {
    padding-top: 15px;
}

.popup {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-box-shadow: 6px 6px 28px 0px rgba(0, 0, 0, 0.64);
    -moz-box-shadow:    6px 6px 28px 0px rgba(0, 0, 0, 0.64);
    box-shadow:         6px 6px 28px 0px rgba(0, 0, 0, 0.64);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 1002;
}

.popup.active {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.popup .promotion.thanks > div {
    padding-top: 0;
}

.alert {
    display: block;
    font-size: 30px !important;
    padding: 5px;
    padding-left: 20px;
}

.alert > span:first-child {
    font-weight: 700;
    font-size: 30px !important;
}

.alert-success > span:first-child {
    color: #339900;
}

.alert-info > span:first-child {
    color: #3366ff;
}

.alert-warning > span:first-child {
    color: #990000;
}

.alert-danger > span:first-child {
    color: #ff9933;
}

.points-history .ranking tbody tr td:nth-child(2):after,
.points-history .ranking thead tr th:nth-child(2):after,
.points-history .ranking thead tr th:first-child:after,
.points-history .ranking tbody tr td:first-child:after {
    content: '';
    position: absolute;
    right: 1px;
    top: 0px;
    bottom: 0px;
    width: 2px;
    background: #fff;
}

.less480 .points-history .ranking tbody tr td:nth-child(2):after,
.less480 .points-history .ranking thead tr th:nth-child(2):after,
.less480 .points-history .ranking thead tr th:first-child:after,
.less480 .points-history .ranking tbody tr td:first-child:after {
    display: none;
}

.less760 .points-history .ranking thead tr th:nth-child(2):after,
.less760 .points-history .ranking thead tr th:first-child:after {
    display: none;
}

.points-history .ranking tbody tr:last-child td:nth-child(2):after,
.points-history .ranking tbody tr:last-child td:first-child:after {
    bottom: 11px;
}

.points-history .ranking thead tr th:nth-child(2):after,
.points-history .ranking thead tr th:first-child:after {
    top: 18px !important;
}

.your-points .points-history thead tr th:first-child,
.your-points .points-history tbody tr td:first-child {
    width: 120px;
}

.your-points .points-history tbody tr td:nth-child(2),
.your-points .points-history tbody tr td:nth-child(3) {
    width: 100px;
}

.your-points .points-history thead tr th:last-child,
.your-points .points-history tbody tr td:last-child {
    text-align: left;
    padding-left: 20px;
}

.your-points .points-history thead tr th:last-child:after,
.your-points .points-history tbody tr td:last-child:after {
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #000;
}

.your-points .points-history thead tr th:last-child:after {
    top: 10px !important;
}

.your-points .points-history tbody tr:last-child td:last-child:after {
    bottom: 10px !important;
}
