{% import "::Macro/activeLink.html.twig" as activeLink %}

<ul id="navigation">
    {% for point in menu %}
        <li class="{% if point.active %}{{- 'active' -}}{% endif %}">
            <a class="link" href={{ path(point.path) }} title="{{ point.name|trans }}">{{ point.name|trans }}</a>
        </li>
    {% endfor %}
</ul>
