{% extends 'layout.html.twig' %}

{% block title %}Token{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(createForm) }}
                    {{ form_widget(createForm) }}
                        <button type="submit" class="btn btn-default pull-right">Create new token</button>
                    {{ form_end(createForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {% if tokens is not empty %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Public key</th>
                            <th>Secret</th>
                            <th>Generated at</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for token in tokens %}
                            {# token \Ustrugany\ApiBundle\Entity\Token #}
                            <tr>
                                <td>
                                    {{ token.id }}
                                </td>
                                <td>
                                    {{ token.publicKey }}
                                </td>
                                <td>
                                    {{ token.secret }}
                                </td>
                                <td>
                                    {{ token.generatedAt|date('Y-m-d H:i:s') }}
                                </td>
                                <td>
                                    {% set class = token.active ? 'text-success glyphicon glyphicon-ok-circle'
                                        : 'text-danger glyphicon glyphicon-ban-circle' %}
                                    <span class="{{ class }}"></span>
                                </td>
                                <td>
                                    {{ form_start(deleteForm, {'action': path('ustrugany_api_secure_token_delete', {'id': token.id})}) }}
                                    {{ form_widget(deleteForm) }}
                                    <button type="submit" class="btn btn-danger pull-right">Delete</button>
                                    {{ form_end(deleteForm) }}

                                    {{ form_start(activateForm, {'action': path('ustrugany_api_secure_token_activate', {'id': token.id})}) }}
                                    {{ form_widget(activateForm) }}
                                    <button type="submit" class="btn btn-success pull-right">Activate</button>
                                    {{ form_end(activateForm) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
